In [41]:
# Call on Pandas Dependency

import pandas as pd

# Import & read CSV file

csvfile = 'purchase_data.csv'

# Create dataframe based on CSV file

purchase_df = pd.read_csv(csvfile)

# Player Count
  * Display the total number of players

In [42]:
# Player Count

# Find total players by looking at the number of unique values in the "SN" column of the dataframe

total_players = len(purchase_df["SN"].unique())

# Create new data frame to visualize "Total Players"

players = pd.DataFrame({"Total Players": [total_players]})

players

   Total Players
0            576

# Purchasing Analysis (Total)
* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [43]:
# Purchasing Analysis (Total)

# Find total # of unique items by calling the "Item Id" looking at the number of unique values 

unique_items = len(purchase_df["Item ID"].unique())

# Find total revenue by calling the "Price" column and using the "sum" funtion to get the sum of all rows in the "Price" column

total_revenue = purchase_df["Price"].sum()

# Find total purchases by calling the "Price" column and looking at the combined # of entries

total_purchases = len(purchase_df["Price"])

# Find avg price by dividing the total_revenue variable by the total_purchases variable and then round the number to 2 decimal points
average_purchase_price = total_revenue / total_purchases
average_pp = average_purchase_price.round(2)

# Create new dataframe with variables holding our calculations
purchasing_analysis_total = pd.DataFrame({"Number of Unique Items": [unique_items],
                              "Average Price": [average_pp],
                               "Number of Purchases": [total_purchases],
                               "Total Revenue": [total_revenue]})


# Format Average Price and Total Revenue columns to round to 2 decimal points and disply the $ sign

purchasing_analysis_total["Average Price"] = purchasing_analysis_total["Average Price"].map("${:.2f}".format)
purchasing_analysis_total["Total Revenue"] = purchasing_analysis_total["Total Revenue"].map("${:.2f}".format)

# Display Data Frame

purchasing_analysis_total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

# Gender Demographics
* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [44]:
# Gender Demographics

# Call on the "SN" and "Gender" columns with in original data frame

players_columns = ["SN", "Gender"]

# Create a new data frame that only holds the "SN" and "Gender" columns

reduced_df = purchase_df.loc[:, players_columns]

# Sort and remove duplicate values in the "SN" column, but keep first "SN Value" within reduced_df data frame

reduced_df.sort_values("SN", inplace = True)

reduced_df.drop_duplicates(subset = "SN",
                            keep = 'first', inplace = True)

# Find total count of players for each Gender type by finding the total count of each gender with in the reduced_df

gender_counts = reduced_df["Gender"].value_counts()

# Create new data frame and display the values from gender_counts and rename column "Total Count"

gender_group = pd.DataFrame(gender_counts)

gender_group = gender_group.rename(columns={"Gender": "Total Count"})

# Find the total number of players by using the sum function on column Total Count

gender_total = gender_group["Total Count"].sum()

# Find the percentage of players by dividing the Total Count of each gender by the total count of all genders 

percent_players = (gender_group["Total Count"]/gender_total) * 100

# Add the previous calculation to the data frame round by 2 decimal points

gender_group["Percentage of Players"] = percent_players.round(2)

# Re-format tbe Percenta of Players column to include the $ sign

gender_group["Percentage of Players"] = gender_group["Percentage of Players"].map("{:,.2f}%".format)

# Display data frame

gender_group

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg.   purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [45]:
# Purchasing Analysis (Gender)

# Group original data frame by Gender

grouped_gender = purchase_df.groupby('Gender')

# Find the number of purchases per Gender group by using the count function on "Purchase ID"

id_count = grouped_gender['Purchase ID'].count()

# Find the average purchase price by using the mean function on "Price"

mean_price = grouped_gender['Price'].mean()

# Find the total purchase value for each gender by using the sum function on "Price"

total_price = grouped_gender['Price'].sum()

total_price

# Find the Avg Total Purchase per Person by dividing the total purchase value by the total count of all purchases for each gender group

avg_pp = total_price / gender_group["Total Count"]

# Create final data frame and include total purchase count and rename column to "Purchase Count"

final_pag = pd.DataFrame(id_count)

final_pag = final_pag.rename(columns={'Purchase ID': 'Purchase Count'})

# Add and format "Average Purchase Price" column to data frame

final_pag['Average Purchase Price'] = (mean_price).map("${:,.2f}".format)

# Add and format "Total Purchase Value" column to data frame

final_pag['Total Purchase Value'] = (total_price).map("${:,.2f}".format)

# Add and format "Avg Total Purchase per Person" column to data frame

final_pag['Avg Total Purchase per Person'] = (avg_pp).map("${:,.2f}".format)

# Display data frame

final_pag

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics
* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [46]:
# Age Demographics

# Create new data frame to append established bins to.

age_demo = pd.DataFrame(purchase_df)

# Create bins

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

# Create Labels

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Append bins to data frame as new column using the cut function

age_demo['Age Ranges'] = pd.cut(age_demo['Age'], 
                               bins, labels=group_names)

In [47]:
# Remove duplicate values from data frame that include the "Age Ranges", but keep first value

age_demo.drop_duplicates(subset = "SN",
                           keep = 'first', inplace = True)

# Group data frame by "Age Ranges"

age_demo_df = age_demo.groupby('Age Ranges')

# Find the total number of players in each Age Range

age_tc = age_demo_df['Age Ranges'].count()

# Find the total number of players overall

age_counts = age_tc.sum()

# Find the percentage of players within each age range by dividing the number of players in an age range by the total number of players and multiply by 100

perc_age = (age_tc / age_counts) * 100

# Create a new data frame with the previous calculations and rename and format columns

final_ad = pd.DataFrame(age_tc) 

final_ad = final_ad.rename(columns={'Age Ranges': 'Total Count'})

final_ad['Percentage of Players'] = (perc_age)

final_ad['Percentage of Players'] = final_ad['Percentage of Players'].map("{:,.2f}%".format)

# Remove index name 

final_ad.index.name = None

# Display data frame

final_ad

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

# Purchasing Analysis (Age)
* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [48]:
#Purchasing Analysis (Age)

# Create new data frame and group by "Age Ranges"

age_group2 = purchase_df.groupby('Age Ranges')

# Find total # of purchase for each age group

count_2 = age_group2['Item ID'].count()

# Create new data fram with Purhcase Count data from previous calculation and rename column to Purchase Count

final_df = pd.DataFrame(count_2)

final_df = final_df.rename(columns={"Item ID": "Purchase Count"})

# Find sum of all purchases per age group

age_group_sum = age_group2['Price'].sum()

# Find average purchase price by dividing sum of all purchases per age group by total number of purchases per age group

avgpp = (age_group_sum / count_2)

# Find the avg total purchase per person in each age range by dividing the sum of all purchases per age group by the total count of all purchase per age group without duplicates

agegroup_totcount = final_ad["Total Count"]

avg_totpp = age_group_sum / agegroup_totcount

# Add and format all calculations to data frame

final_df["Average Purchase Price"] = (avgpp)

final_df["Average Purchase Price"] = final_df["Average Purchase Price"].map("${:,.2f}".format)

final_df["Total Purchase Value"] = (age_group_sum)

final_df["Total Purchase Value"] = final_df["Total Purchase Value"].map("${:,.2f}".format)

final_df["Avg Total Purchase per Person"] = (avg_totpp)

final_df["Avg Total Purchase per Person"] = final_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

# Display data frame
final_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders
* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [49]:
# Top Spenders

# Group original data frame by 'SN'

sn_group = purchase_df.groupby('SN')

# Find count of all purchases for each player

sn_count = sn_group['Purchase ID'].count()

# Find total purchase value of purchases for each player

sn_tpv = sn_group['Price'].sum()

# Find average purchase price for each player

sn_avgpp = sn_tpv / sn_count

# Create new data frame with all calculations and re-format columns headers and values

sn_final = pd.DataFrame(sn_count)

sn_final = sn_final.rename(columns={"Purchase ID": "Purchase Count"})

sn_final["Average Purchase Price"] = (sn_avgpp)

sn_final["Average Purchase Price"] = sn_final["Average Purchase Price"].map("${:,.2f}".format)

sn_final["Total Purchase Value"] = (sn_tpv)

# Sort data frame by "Total Purchase Value" in descending order

sn_final_df = sn_final.sort_values("Total Purchase Value", ascending=False)

# Re-format "Total Purchase Value" after sorting in order for sort to work

sn_final_df["Total Purchase Value"] = sn_final_df["Total Purchase Value"].map("${:,.2f}".format)

# Display data frame

sn_final_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items
* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [50]:
# Most Popular Items

# Group original data frame by "Item ID" and "Item Name"

itemid_name = purchase_df.groupby(['Item ID', 'Item Name'])

# Find purchase count of grouped by data

item_count = itemid_name['Purchase ID'].count()

# Find the Price for each Item

item_price = itemid_name['Price'].unique()

# Find the total purchase value for each item

item_tpv = itemid_name['Price'].sum()

# Create new data frame with Purchase Count Column

final_item = pd.DataFrame(item_count)

final_item = final_item.rename(columns={"Purchase ID": "Purchase Count"})

# Add Item Price column with previous calculation and set data type as float

final_item['Item Price'] = (item_price).astype("float")

# Add Total Purchase Value data

final_item['Total Purchase Value'] = (item_tpv)

# Sort data by Purchase Count in descending order

final_item_df = final_item.sort_values("Purchase Count", ascending=False)

# Format rows to display values in proper format

final_item_df['Item Price'] = final_item_df['Item Price'].map("${:,.2f}".format)

final_item_df['Total Purchase Value'] = final_item_df['Total Purchase Value'].map("${:,.2f}".format)

# Display data

final_item_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

# Most Profitable Items
* Sort the above table by total purchase value in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the data frame

In [51]:
# Most Profitable Items

# Sort previous data frame by "Total Purchase Value" instead of "Total Purchas Count"

mpi_df = final_item.sort_values("Total Purchase Value", ascending=False)

# Format rows to display values in proper format

mpi_df['Item Price'] = mpi_df['Item Price'].map("${:,.2f}".format)

mpi_df['Total Purchase Value'] = mpi_df['Total Purchase Value'].map("${:,.2f}".format)

# Display data

mpi_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80