In [60]:
#imports csv file
import pandas as pd

csvfile = 'purchase_data.csv'

purchase_df = pd.read_csv(csvfile)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [61]:
purchase_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [62]:
total_players = len(purchase_df["SN"].unique())
total_players

576

In [63]:
players = pd.DataFrame({"Total Players": [total_players]})
players

   Total Players
0            576

  Purchasing Analysis (Total)

In [64]:
purchase_df["Item ID"].unique()

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 141, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 101, 109,  10,
        54,  99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,
        58,  74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,
         3,  65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,
        77,  11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97,
       163, 107,  16,  42,  19,  83,  23,  28,  94, 182,  70,  18, 166,
       173, 167, 155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,
        67,  45,  49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,
        61,  48, 112, 126, 115,  55, 132, 127,  47, 130,  90, 177, 104,
       180], dtype=int64)

In [65]:
unique_items = len(purchase_df["Item ID"].unique())
unique_items

183

In [66]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [67]:
total_revenue = purchase_df["Price"].sum()
total_revenue

2379.77

In [68]:
total_purchases = len(purchase_df["Price"])
total_purchases

780

In [69]:
average_purchase_price = total_revenue / total_purchases
average_pp = average_purchase_price.round(2)
average_pp

3.05

In [70]:
purchasing_analysis_total = pd.DataFrame({"Number of Unqiue Items": [unique_items],
                              "Average Price": [average_pp],
                               "Number of Purchase": [total_purchases],
                               "Total Revenue": [total_revenue]})

purchasing_analysis_total["Average Price"] = purchasing_analysis_total["Average Price"].map("${:.2f}".format)

purchasing_analysis_total["Total Revenue"] = purchasing_analysis_total["Total Revenue"].map("${:.2f}".format)


purchasing_analysis_total

   Number of Unqiue Items Average Price  Number of Purchase Total Revenue
0                     183         $3.05                 780      $2379.77

In [71]:
#gender_group_df = purchase_df.set_index("Gender")

#players_columns = ["SN"]

#reduced_df = gender_group_df.loc[:, players_columns]

#reduced_df.sort_values("SN", inplace = True)


#reduced_df.drop_duplicates(subset = "SN",
                            #keep = 'first', inplace = True)
#reduced_df

players_columns = ["SN", "Gender"]

reduced_df = purchase_df.loc[:, players_columns]


reduced_df.sort_values("SN", inplace = True)


reduced_df.drop_duplicates(subset = "SN",
                            keep = 'first', inplace = True)

gender_counts = reduced_df["Gender"].value_counts()

gender_group = pd.DataFrame(gender_counts)

gender_group = gender_group.rename(columns={"Gender": "Total Count"})

gender_total = gender_group["Total Count"].sum()

percent_players = (gender_group["Total Count"]/gender_total) * 100

gender_group["Percentage of Players"] = percent_players.round(2)

gender_group["Percentage of Players"] = gender_group["Percentage of Players"].map("{:,.2f}%".format)

gender_group

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [346]:
grouped_gender = purchase_df.groupby('Gender')

grouped_gender.head()

id_count = grouped_gender['Purchase ID'].count()

id_count.head()

mean_price = grouped_gender['Price'].mean()

mean_price.head()

total_price = grouped_gender['Price'].sum()

total_price.head()

#some_count = gender_group['Total Count']

#some_count

avg_pp = total_price / gender_total

avg_pp

#avg_pp_df = pd.DataFrame(avg_pp)

#avg_pp_df = avg_pp_df.rename(columns={0: "Gender"})

#avg_pp_df = avg_pp_df.set_index('Gender')

#avg_pp_df

#avg_pp_df = avg_pp_df.set_index('Gender')

#avg_pp_df

#avg_pp_df = pd.DataFrame(avg_pp)

#

Gender
Female                   0.628368
Male                     3.416042
Other / Non-Disclosed    0.087135
Name: Price, dtype: float64

In [336]:


#dkfkldadf

id_mean = pd.merge(id_count, mean_price, on='Gender')

id_mean_tot = pd.merge(id_mean, total_price, on='Gender')

id_mean_tot = id_mean_tot.rename(columns={'Purchase ID': 'Purchase Count','Price_x': "Average Purchase Price", 'Price_y': 'Total Purchase Value'})

id_mean_tot

#id_mean_tot['Avg Total Purchase per Person'] = avg_pp_df

#id_mean_tot_avg = pd.merge(id_mean_tot, avg_pp_df, on='Gender')

#id_mean_tot_avg

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [149]:
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [284]:
age_demo = pd.DataFrame(purchase_df)

bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(age_demo['Age'], bins, labels=group_names).head()

age_demo['Age Range'] = pd.cut(age_demo['Age'], 
                               bins, labels=group_names)

age_demo

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [356]:
age_demo.drop_duplicates(subset = "SN",
                           keep = 'first', inplace = True)

age_group = age_demo.groupby('Age Range').SN.count()

age_group

age_group_df = pd.DataFrame(age_group)

age_group_df 

age_counts = age_group_df["SN"].sum()

age_counts

perc_age = (age_group / age_counts) * 100

perc_age

age_group_df = pd.merge(age_group, perc_age, on='Age Range')

age_group_df = age_group_df.rename(columns={"SN_x": "Total Count", "SN_y": "Percentage of Players"})

age_group_df['Percentage of Players'] = age_group_df['Percentage of Players'].map("{:,.2f}%".format)

age_group_df

#gender_group["Percentage of Players"] = gender_group["Percentage of Players"].map("{:,.2f}%".format)

           Total Count Percentage of Players
Age Range
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

In [369]:
#Purchasing Analysis ("Age")

age_group2 = purchase_df.groupby('Age Range')

age_group2.head()

count_2 = age_group2['Item ID'].count()

count_2

final_df = pd.DataFrame(count_2)

final_df = final_df.rename(columns={"Item ID": "Purchase Count"})

age_group_sum = age_group2['Price'].sum()

age_group_sum

avgpp = (age_group_sum / count_2)

agegroup_totcount = age_group_df["Total Count"]

avg_totpp = age_group_sum / agegroup_totcount

avg_totpp

final_df["Average Purchase Price"] = (avgpp)

final_df["Average Purchase Price"] = final_df["Average Purchase Price"].map("${:,.2f}".format)

final_df["Total Purchase Value"] = (age_group_sum)

final_df["Total Purchase Value"] = final_df["Total Purchase Value"].map("${:,.2f}".format)

final_df["Avg Total Purchase per Person"] = (avg_totpp)

final_df["Avg Total Purchase per Person"] = final_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

final_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [370]:
purchase_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [408]:
sn_group = purchase_df.groupby('SN')

sn_count = sn_group['Purchase ID'].count()

sn_count

sn_sum = sn_group['Price'].sum()

sn_sum

sn_avgpp = sn_sum / sn_count

sn_avgpp

sn_tpv = sn_sum 

sn_tpv

sn_final = pd.DataFrame(sn_count)

sn_final = sn_final.rename(columns={"Purchase ID": "Purchase Count"})

sn_final["Average Purchase Price"] = (sn_avgpp)

sn_final["Average Purchase Price"] = sn_final["Average Purchase Price"].map("${:,.2f}".format)

sn_final["Total Purchase Value"] = (sn_tpv)

sn_final_df = sn_final.sort_values("Total Purchase Value", ascending=False)

sn_final_df["Total Purchase Value"] = sn_final_df["Total Purchase Value"].map("${:,.2f}".format)

sn_final_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10