In [284]:
#imports csv file
import pandas as pd

csvfile = 'purchase_data.csv'

purchase_df = pd.read_csv(csvfile)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [285]:
purchase_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [286]:
total_players = len(purchase_df["SN"].unique())
total_players

576

In [287]:
players = pd.DataFrame({"Total Players": [total_players]})
players

   Total Players
0            576

  Purchasing Analysis (Total)

In [288]:
purchase_df["Item ID"].unique()

array([108, 143,  92, 100, 131,  81, 169, 162,  21, 136,  95, 116,   4,
       165,  98,  40, 161,  82,  89,  57, 168,  24, 151, 141, 178,  71,
        96, 119,  37, 140, 179, 133,  44, 160,  53,  76,  73, 172,   7,
        72,   9, 181, 102, 170, 138, 110,  22,  15,  60, 176,  25,  84,
        80, 152, 105, 125,  56,  34,   6,  27,  29,  68, 124,  88,  20,
        50, 174,  12,  33, 129,  17,  59,  39, 164, 134, 101, 109,  10,
        54,  99,  85, 139,  41, 150,  13, 117,  78,  87,   1,  62,  75,
        58,  74, 120, 145,   0,   2, 146, 158,   8, 175,  46, 148, 111,
         3,  65, 183,  30, 157, 123,   5, 144, 103, 135,  51, 154,  32,
        77,  11,  63,  69, 113, 153, 114, 149, 159, 137, 142,  66,  97,
       163, 107,  16,  42,  19,  83,  23,  28,  94, 182,  70,  18, 166,
       173, 167, 155, 128, 156, 147,  35, 171,  52, 106,  38,  91, 118,
        67,  45,  49, 121,  79,  14,  43,  31,  64,  86,  93,  26, 122,
        61,  48, 112, 126, 115,  55, 132, 127,  47, 130,  90, 177, 104,
       180], dtype=int64)

In [289]:
unique_items = len(purchase_df["Item ID"].unique())
unique_items

183

In [290]:
purchase_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [291]:
total_revenue = purchase_df["Price"].sum()
total_revenue

2379.77

In [292]:
total_purchases = len(purchase_df["Price"])
total_purchases

780

In [293]:
average_purchase_price = total_revenue / total_purchases
average_pp = average_purchase_price.round(2)
average_pp

3.05

In [294]:
purchasing_analysis_total = pd.DataFrame({"Number of Unqiue Items": [unique_items],
                              "Average Price": [average_pp],
                               "Number of Purchase": [total_purchases],
                               "Total Revenue": [total_revenue]})

purchasing_analysis_total["Average Price"] = purchasing_analysis_total["Average Price"].map("${:.2f}".format)

purchasing_analysis_total["Total Revenue"] = purchasing_analysis_total["Total Revenue"].map("${:.2f}".format)


purchasing_analysis_total

   Number of Unqiue Items Average Price  Number of Purchase Total Revenue
0                     183         $3.05                 780      $2379.77

In [295]:
#gender_group_df = purchase_df.set_index("Gender")

#players_columns = ["SN"]

#reduced_df = gender_group_df.loc[:, players_columns]

#reduced_df.sort_values("SN", inplace = True)


#reduced_df.drop_duplicates(subset = "SN",
                            #keep = 'first', inplace = True)
#reduced_df

players_columns = ["SN", "Gender"]

reduced_df = purchase_df.loc[:, players_columns]


reduced_df.sort_values("SN", inplace = True)


reduced_df.drop_duplicates(subset = "SN",
                            keep = 'first', inplace = True)

gender_counts = reduced_df["Gender"].value_counts()

gender_group =pd.DataFrame(gender_counts)

gender_group = gender_group.rename(columns={"Gender": "Total Count"})

gender_total = gender_group["Total Count"].sum()

percent_players = (gender_group["Total Count"]/gender_total) * 100

gender_group["Percentage of Players"] = percent_players.round(2)

gender_group["Percentage of Players"] = gender_group["Percentage of Players"].map("{:,.2f}%".format)

gender_group

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [300]:
gender_data = purchase_df["Gender"].value_counts()

gender_data

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64